body{
    padding: 0;
    margin: 0;
}
/* --------------- HEADER --------------- */
header{
    background-color: burlywood;
    text-align: center;
}

header img{
    max-width: 80%;
}
/* --------------- SECTION PRESENTATION --------------- */
#presentation{
    text-align: center;
    height: 600px;
    background-color: antiquewhite;
}

h1{
    margin-top: 0;
    padding-top: 20px;
    text-transform: uppercase;
}

#block-slider{
    display: flex;
    justify-content: center;
}

#slider{
    border: 3px solid black;
    position: relative;
    max-width: 90%;
}

#slider img{
    max-width: 100%;
}

#flechegauche{
    position: absolute;
    top: 43%;
    left: 1%;
}

#flechedroite{
    position: absolute;
    top: 43%;
    right: 1%;
}

#flechegauche:hover, #flechedroite:hover{
    color: lightseagreen;
}

/* --------------- SECTION GOOGLE MAP --------------- */
#google-map{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

#map{
    width: 70%;
    height: 70%;
    margin: auto;
}